/* media-queries > 768px */
@media (max-width: 1280px) {
	.header__container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.pets__card-inner {
		justify-content: center;
		height: 432px;
		flex-wrap: wrap;
		overflow: hidden;
	}
}

@media (max-width: 1279px) {
	.preview-window {
		flex-wrap: wrap;
		align-items: center;
		padding-top: 30px;
		gap: 100px;
		margin: 0;
	}

	.preview__window-description {
		margin: 0;
	}

	.preview__window-image {
		margin-left: auto;
	}

	.preview__img {
		width: 550px;
	}
}

@media (max-width: 1100px) {
	.preview__window-image {
		margin-left: auto;
	}

	/* .preview__img {
    width: 100%;
    height: auto;
  } */

	.footer__container {
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media (max-width: 975px) {
	.puppy {
		margin-top: 62px;
	}
}

@media (max-width: 960px) {
	.help__container {
		padding: 80px 60px 100px;
		gap: 57px;
	}

	.things__help {
		gap: 53px 60px;
	}

	.pets__card-item {
		gap: 12px;
	}

	.pets__card-inner {
		gap: 40px;
	}

	.thing__item {
		width: 170px;
	}

	.donation__container {
		flex-direction: column-reverse;
		align-items: center;
		gap: 60px;
	}

	.footer__container {
		padding-top: 14px;
	}

	.geolocation {
		margin-right: 0;
	}
}

@media (max-width: 850px) {
	.preview__btn {
		margin: 0 auto;
	}

	.about__container {
		flex-direction: column-reverse;
		gap: 80px;
	}

	.about__description {
		gap: 24px;
	}

	.about__text {
		line-height: 161%;
	}
}
@media (max-width: 770px) {
	.preview__window-description {
		max-width: 460px;
		margin: 0 auto;
	}

	.preview__window-image {
		margin-left: 130px;
	}
}

@media (max-width: 768px) {
	.preview__img {
		width: 569px;
		height: auto;
	}
}

@media (max-width: 767px) {
	.preview__window-image {
		margin-left: auto;
	}
}

@media (max-width: 768px) {
	.pets__container {
		padding: 0 30px;
	}
}

/* media-queries > 320px */

@media (max-width: 767px) {
	.preview__img {
		width: 260px;
	}
}

@media (max-width: 700px) {
	.header__list {
		display: none;
	}

	.donation__pets {
		width: 100%;
	}
}

@media (max-width: 620px) {
	/* help */
	.help__container {
		padding: 30px 15px 42px;
		gap: 32px;
	}

	.thing__item {
		width: 130px;
		gap: 20px;
	}

	.thing__item-icon {
		max-width: 50px;
		max-height: 50px;
	}

	.thing__item-text {
		font-weight: 400;
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.06em;
		text-align: center;
	}

	.things__help {
		display: flex;
		justify-content: center;
		gap: 31px 30px;
	}
	/* help */
}

@media (max-width: 600px) {
  	/* our friends */
	.pets__card-inner {
		order: 1;
	}

	.pets__card-item {
		display: flex;
		flex-wrap: wrap-reverse;
		gap: 22px 80px;
	}

	.pets__link {
		margin-top: 10px;
	}

	.our-pets {
		padding-bottom: 42px;
	}
	/* our friends */
}

@media (max-width: 580px) {
  
}

@media (max-width: 500px) {
  /* donation */
	.donation {
		padding-top: 0;
		padding-bottom: 0;
	}

	.donation__container {
		padding: 30px 10px;
	}

	.donation__description {
		align-items: center;
	}

	.donation__title {
		padding-bottom: 0;
	}

	.bank__details {
		width: 273px;
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		letter-spacing: 0em;
		text-align: center;
		white-space: nowrap;
	}

	.number__card {
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.06em;
	}

	.bank__details-info {
		text-align: justify;
		max-width: 280px;
	}

	.donation__container {
		gap: 22px;
	}

	.donation__pets {
		padding: 18px;
		padding-bottom: 13px;
	}
	/* donation */

  /* contacts */

  .footer__container {
    padding: 30px 10px;
    padding-bottom: 0;
  }

  .contacts {
    padding-top: 0;
    align-items: center;
  }

	.contacts__title {
		font-weight: 400;
		font-size: 25px;
		line-height: 130%;
		letter-spacing: 0.06em;
		text-align: center;
    padding: 0 10px;
		color: var(--color-light-xl);
	}

  .geolocation {
    padding-top: 37px;
    gap: 35px;
  }

  .geolocation .contact__link {
    margin-right: auto;
  }

  .puppy {
    margin-top: 40px;
}
}

@media (max-width: 320px) {
	.header__container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.title {
		padding: 10px;
		font-size: 25px;
		text-align: center;
	}

	.preview__title {
		font-weight: 400;
		font-size: 25px;
		line-height: 130%;
		letter-spacing: 0.06em;
		padding: 0 40px;
	}

	.preview__text,
	.preview__title {
		text-align: center;
		margin: 0;
	}

	.preview-window {
		padding-left: 10px;
		padding-right: 10px;
		gap: 104px;
	}

	.preview__window-image {
		padding-left: 40px;
	}

	.about {
		padding-top: 32px;
		padding-bottom: 42px;
	}

	.about__image,
	.about__description {
		padding: 0 25px;
	}

	.about__pets {
		max-width: 260px;
	}

	.about__description {
		gap: 19px;
	}

	.about__container {
		padding: 0;
		gap: 42px;
	}

	.about__text {
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		text-align: justify;
	}

	.pets__container {
		gap: 32px;
		padding: 0;
	}

	.our-pets {
		padding-top: 30px;
	}



	

	

	

  .puppy__img {
    width: 260px;
  }
}