/* media-queries > 768px */
@media (max-width: 1300px) {
  .header__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pets__card-inner {
    justify-content: center;
    height: 432px;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

@media (max-width: 1100px) {
  .preview-window {
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
    margin: 0;
    gap: 100px
  }

  .preview__window-description {
    max-width: 460px;
    margin: 0;
  }

  .preview__title,
  .preview__text {
    margin-left: 5px;
  }

  .preview__window-image {
    padding-left: 130px;
  }

  .preview__img {
    width: 569px;
  }

  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }

}

@media (max-width: 975px) {
  .puppy {
    margin-top: 62px;
  }
}

@media (max-width: 960px) {
  .help__container {
    padding: 80px 60px 100px;
    gap: 57px;
  }

  .things__help {
    gap: 53px 60px;
  }

  .thing__item {
    width: 170px;
  }

  .donation__container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px
  }

  .footer__container {
    padding-top: 14px;
  }

  .geolocation {
    margin-right: 0;
  }
}

@media (max-width: 850px) {
  .preview__btn {
    margin: 0 auto;
  }

  .about__container {
    flex-direction: column-reverse;
    gap: 80px
  }

  .about__description {
    gap: 24px
  }

  .about__text {
    line-height: 161%;
  }

  .pets__card-item {
    gap: 12px;
  }

  .pets__card-inner {
    gap: 40px;
  }

}

/* media-queries > 320px */
@media (max-width: 700px) {
  .header__list {
    display: none;
  }

  .preview__img {
    width: 100%;
  }

  .donation__pets {
    width: 100%;
  }

}

@media (max-width: 320px) {
  .header__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title {
    padding: 10px;
    font-size: 25px;
    text-align: center;
  }

  .preview__title {
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding: 0 40px;
  }

  .preview__text,
  .preview__title {
    text-align: center;
    margin: 0;
  }

  .preview-window {
    padding-left: 10px;
    padding-right: 10px;
    gap: 104px
  }

  .preview__window-image {
    padding-left: 40px;
  }

  .about {
    padding-top: 32px;
    padding-bottom: 42px;
  }

  .about__image,
  .about__description {
    padding: 0 25px;
  }

  .about__pets {
    max-width: 260px;
  }

  .about__description {
    gap: 19px;
  }

  .about__container {
    padding: 0;
    gap: 42px;
  }

  .about__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: justify;
  }

  .pets__container {
    gap: 32px;
    padding: 0;
  }

  .our-pets {
    padding-top: 30px;
  }

  .button__arrow {
    display: none;
  }

  .puppy__img {
    width: 100%;
  }
}