.our-pets {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 100px;
	background: var(--color-light-l);
}

.pets__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	padding: 0 30px;
}

.pets__card-item {
	display: flex;
	justify-content: center;
	gap: 53px;
}

.pets__card-inner {
	max-width: 1280px;
	display: flex;
	justify-content: center;
	height: 432px;
	flex-wrap: wrap;
	gap: 90px;
	overflow: hidden;
}

.pets__card-xl {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px 40px;
}

.pets__card {
	display: flex;
	flex-direction: column;
	background: var(--color-light-s);
	gap: 24px;
	border-radius: 9px;
	position: relative;
	padding-bottom: 30px;
}

.pets__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.pets__title {
	max-width: 400px;
	text-align: center;
}

.pets__content-title {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--color-dark-l);
}

.pets__btn-more {
	display: flex;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	background: var(--color-light-s);
	color: var(--color-dark-3xl);
	border: 2px solid var(--color-primary);
	border-radius: 100px;
	padding: 13px 45px;
	transition: 0.3s ease;
}

.pets__btn-more::after {
	content: "";
	position: absolute;
	inset: 0;
}

.pets__btn-more:hover {
	background: var(--color-primary-light);
	border-color: var(--color-primary-light);
}

.pets__link-more {
	display: flex;
	justify-content: center;
}

.pets__link {
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	text-decoration: none;
	letter-spacing: 0.06em;
	color: var(--color-dark-3xl);
	background: var(--color-primary);
	border-radius: 100px;
	padding: 15px 45px;
	transition: 0.3s ease;
}

.pets__link:hover {
	background: var(--color-primary-light);
}

.image {
	transition: 0.3s ease;
	transform: scale(1);
}

.pets__card:hover {
	box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
	background: var(--color-light-xl);
}

.button__arrow {
	display: flex;
	align-items: center;

}

.button__arrow-svg {
	width: 52px;
	height: 52px;
	cursor: pointer;
	border-radius: 100px;
	border: 2px solid var(--color-primary);
	transition: 0.3s ease;
	background-color: var(--color-light-l);
}

.button__arrow-svg:hover {
	border-color: var(--color-primary-light);
	background-color: var(--color-primary-light);
}