*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: calc(var(--container-width) + (var(--container-offset) * 2));
}