.burger__btn {
	width: 30px;
	height: 22px;
	display: none;
	border: none;
	position: relative;
	transition-duration: 1s;
	cursor: pointer;
	background: transparent;
	z-index: 3;
}

.burger__line {
	height: 2px;
	width: 30px;
	background-color: var(--color-primary);
	position: absolute;
	transition-duration: 0.3s;
	top: 10px;
}
.burger__line:before {
	content: "";
	left: 0;
	position: absolute;
	top: -10px;
	height: 2px;
	width: 30px;
	background-color: var(--color-primary);
	transition-duration: 0.3s;
}
.burger__line:after {
	content: "";
	left: 0;
	position: absolute;
	top: 10px;
	height: 2px;
	width: 30px;
	background-color: var(--color-primary);
	transition-duration: 0.3s;
}
.burger__btn.burger--transform {
	transform: rotateZ(90deg);
}

.scroll--stop {
	overflow: hidden;
}

.body--overlay::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		z-index: 1;
		display: block;
}

@media (max-width: 767.5px) {
	.header__list {
		width: 320px;
		height: 100vh;
		background: var(--color-light-xl);
		flex-direction: column;
		gap: 41px 0;
		padding: 248px 39px 248px;
		position: fixed;
		right: 0;
		top: 0px;
		z-index: 2;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;
	}

	.header__list-pets {
		width: 320px;
		height: 100vh;
		background: var(--color-dark-xl);
		flex-direction: column;
		gap: 41px 0;
		padding: 248px 39px 248px;
		position: fixed;
		right: 0;
		top: 0px;
		z-index: 2;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;
	}

	.header__list.burger--open {
		transform: translateX(0);
	}

	.burger__btn {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header__link {
		font-weight: 400;
		font-size: 32px;
		line-height: 160%;
	}
}
