.popup__wrapper {
	display: flex;
	max-width: 380px;
	;
	padding-top: 50px;
	padding-left: 30px;
	padding-bottom: 87px;
}

.popup {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(41, 41, 41, 0.6);
	transition: opacity 0.5s ease-in-out, transform 0.5s ease;
	opacity: 1;
	transform: scale(1);
}

.popup--hidden {
	visibility: hidden;
	opacity: 0;
	transform: scale(0);
}

.popup__content {
	display: flex;
	position: absolute;
	width: 900px;
	height: 500px;
	background: var(--color-light-s);
	border-radius: 9px;
}

.popup__pets-title {
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #000;
	margin-bottom: 10px;
}

.popup__content-subtitle {
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #000;
	margin-bottom: 40px;
}

.popup__content-description {
	font-weight: 400;
	font-size: 15px;
	line-height: 114%;
	letter-spacing: 0.06em;
	color: #000;
	margin-bottom: 40px;
}

.options {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.popup__content-options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.option__container {
	display: flex;
	text-align: center;
	align-items: center;
}

.option__title {
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.15em;
	color: #000;
}

.option__subtitle {
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #000;
	margin-left: 3px;
}

.point-svg {
	display: inline-block;
    width: 4px;
    height: 4px;
    background-color:var(--color-primary);
    border-radius: 50%;
	margin-right: 10px;
}

.popup__content-image {
	display: flex;
}

.img {
	border-radius: 9px;
}

.popup__close-btn {
	position: absolute;
	top: -52px;
	right: -40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
	border-radius: 100px;
	background: rgba(31, 5, 5, 0);
	border: 2px solid var(--color-primary);
	cursor: pointer;
}

.popup__close-btn svg {
	z-index: -1;
}