* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
  font-weight: bold;
}

a {
  text-decoration: none; 
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ProtestGuerrilla";
  src: url("./assets/fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 64px);
  overflow: hidden;
}

.background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1; 
}

.player {
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  background-image: url(./assets/img/bg-audio-player.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}

.btn {
  fill: white;
  transition: fill 0.3s ease;
}

.hidden {
  display: none;
}

.active {
  fill: #ffa;
  transform: scale(0.9)
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  color: white;
}

.cover {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}

.cover__img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.7s ease;
}

.cover__img.scale {
  transform: scale(1.03);
}

.track__details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.track__details-description {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}

.artist {
  font-family: "ProtestGuerrilla";
  font-size: 26px;
  letter-spacing: 3px;
  cursor: default;
}

.track__title {
  font-family: "Montserrat";
  font-size: 20px;
  cursor: default;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.center__btn {
  margin: 0 30px;
}

.progress__bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__bar-range {
  width: 100%;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  padding:0 10px;
  cursor: default;
}

.progress__bar {
  width: 100%;
  padding:10px;
}

.progress__bar-range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #8e8e8e;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.progress__bar-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.progress__bar-range::-webkit-slider-thumb:hover {
  background-color: #ffa;;
}

.footer {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  padding: 10px 20px;
}

.created__date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ProtestGuerrilla";
  font-size: 24px;
  letter-spacing: 4px;
  margin-top: 5px;
  font-weight:bold;
}

.footer-icon {
  display: flex;
  align-items: center;
}

@media (hover: hover) {
  .btn:hover {
    fill:#ffa;
  }
}
        